src/main/mule/service-victoria-pa-customer.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <http:listener-config name="service-victoria-pa-customer-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
   
    <apikit:config name="service-victoria-pa-customer-config" api="service-victoria-pa-customer.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="14d900f3-b481-4727-b444-097601398cb9" >
		<http:request-connection host="api.openweathermap.org" />
	</http:request-config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a8e792c7-f6bb-4645-8bc1-848427dca287" >
		<http:listener-connection host="localhost" port="8082" />
	</http:listener-config>
	<flow name="service-victoria-pa-customer-main">
        <http:listener config-ref="service-victoria-pa-customer-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="service-victoria-pa-customer-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="service-victoria-pa-customer-console">
        <http:listener config-ref="service-victoria-pa-customer-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="service-victoria-pa-customer-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
	<flow name="post:\details:application\json:service-victoria-pa-customer-config">
        <ee:transform doc:name="Input data" doc:id="2616b7cb-99e5-4f26-b254-2a522f004a77">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="mergedInput"><![CDATA[%dw 2.0
output application/json
---
{
	(payload.Header map (data, index) -> {
		(data): payload.Items[index]
	})
}
	
	

]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<set-variable value="#[vars.mergedInput.city default '' ++ &quot;,vic,au&quot;]" doc:name="Query Param" doc:id="fb4cac8f-cc65-47f7-8998-d0b9ddf23eb9" variableName="cityState" />
		<http:request method="GET" doc:name="WeatherReport Call" doc:id="94cc26f9-42c2-4d97-b078-06e6466bd2ab" config-ref="HTTP_Request_configuration" path="/data/2.5/weather" target="weatherReport">
		<http:query-params><![CDATA[#[output application/java
---
{
	"appid" : "55cf469887c21e7d0973e898b567f07f",
	"q" : vars.cityState
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Final Output" doc:id="7775d6df-110d-4fc5-9630-ffc81a5ad25e">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
var zone = (vars.mergedInput.country default '') ++ "/" ++ (vars.mergedInput.city default '')
var offSetVal = (now() >> zone) as DateTime{format: "Z"}
---
{
	lastname : vars.mergedInput.lastName,
	name : vars.mergedInput.name,
	timeZone : vars.weatherReport.timezone,
	offSet: offSetVal,
	fullName : (vars.mergedInput.name default '') ++ ' '++(vars.mergedInput.lastName default ''),
	temperatureCelsius : (vars.weatherReport.main.temp as Number) - 273.15,
	dateTime : ((vars.mergedInput.dateTime default '') replace "Z" with "+1000") as DateTime{format:"ddMMyyyy'T'HHmmZ"} as DateTime{format:"yyyy-MM-dd'T'HH:mm:ss.SSSXXX"} + |P1D|,
	city : vars.mergedInput.city,
	location : vars.mergedInput.country
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1e6a6104-4be6-4ca0-af26-25a960b20a3a" message="#[payload]" />
    </flow>
	<flow name="service-victoria-pa-customerFlow1" doc:id="6cc4e325-022a-412d-bab6-29b766bab7ec" >
		<http:listener doc:name="Listener" doc:id="ef722efa-ee64-47bf-a71f-30a057353f5a" config-ref="HTTP_Listener_config" path="/csv"/>
		<ee:transform doc:name="Transform Message" doc:id="6c22c4c5-af06-443e-ad5a-8d139cc717a0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload.transactions map(data,indx) -> {
    ('transactionId_' ++ indx) : data.transactionId,
  ('accountNum_' ++ indx): data.accountNum
  

}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="17efbbd6-1487-420c-8d0a-6df998bd26ca" path="D:\\output.csv"/>
	</flow>
</mule>
